:root {
    --background-color: #f9f9f9;
    --white-color: #ffffff;
    --black-color: #202123;
    --dark-gray-color: #666666;
    --light-gray-color: #f6f6f6;
    --primary-color: #2455C5;
    --secondary-color: #A4D1FF;
    --line: 1px solid rgba(0, 0, 0, 0.1);
}

/* * {
    outline: 1px solid tomato;
} */

.wrap {
    min-width: 320px;
}

#header {
    height: 100px;
}

.header_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    background: var(--white-color);
    border-bottom: var(--line);
}

#header .header_wrap .w_inner {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
}

#header .header_wrap h1 a {
    display: block;
}

#header .header_wrap h1 img {
    height: 60px;
}

#header .header_wrap .gnb>ul {
    display: flex;
    gap: 40px;
}

#header .header_wrap .gnb>ul>li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

#header .header_wrap .util {
    display: flex;
    gap: 15px;
}

#header .header_wrap .util a {
    display: block;
    white-space: nowrap;
}

#header .header_wrap .util .icon {
    vertical-align: -6px;
}






.MainVisual .main_visual_slide .itm {
    position: relative;
    height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.MainVisual .main_visual_slide .itm01 {
    background-image: url(../images/main_visual1.jpg);
}

.MainVisual .main_visual_slide .itm02 {
    background-image: url(../images/main_visual2.jpg);
}

.MainVisual .main_visual_slide .itm03 {
    background-image: url(../images/main_visual3.jpg);
}


.MainVisual .main_visual_slide .w_inner {
    position: relative;
}

.MainVisual .main_visual_slide .itm .slg {
    position: absolute;
    top: 186px;
    left: 0;
    right: 0;

    padding: 0 15px;
}

.MainVisual .main_visual_slide .itm .slg span {
    display: block;
    margin: 0 0 4px 0;

    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
}

.MainVisual .main_visual_slide .itm .slg strong {
    display: block;

    color: var(--white-color);
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    text-indent: -3px;
}

.MainVisual .main_visual_slide .itm .slg strong:nth-of-type(2) {
    margin: 0 0 20px 0;
}

.MainVisual .main_visual_slide .itm .slg p {
    line-height: 20px;
    color: var(--white-color);
    margin: 0 0 28px 0;
}





.MainCategory .category_con {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

.MainCategory .left {
    flex: 1 1 930px;
}

.MainCategory .left .title::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: var(--primary-color);

    margin: 0 0 16px 0;
}

.MainCategory .left .tab_menu {
    display: flex;
    gap: 15px;
    margin: 0 0 16px 0;
}

.MainCategory .left .tab_menu>* {
    flex: 0 1 174px;
}

.MainCategory .left .tab_menu li a {
    display: block;
    text-align: center;
    padding: 16px 40px;
    background: var(--light-gray-color);
    white-space: nowrap;
}

.MainCategory .left .tab_menu li.on a {
    background: var(--primary-color);
    color: var(--white-color);
}

.MainCategory .left .tab_menu li a:hover {
    background: var(--primary-color);
    color: var(--white-color);
}

.MainCategory .left .tab_content {
    height: auto;
}

.MainCategory .left .tab_content .itm {
    position: relative;
    display: none;
}

.MainCategory .left .tab_content .itm.on {
    display: flex;
}

.MainCategory .left .tab_content .itm::before {
    content: attr(data-num);
    position: absolute;
    top: 16px;
    right: 40px;

    font-size: 160px;
    font-weight: 900;
    color: rgba(32, 33, 35, 0.10);
}

.MainCategory .left .tab_content .itm>* {
    flex: 1;
}

.MainCategory .left .tab_content .itm figure img {
    height: 100%;
    object-fit: cover;
}

.MainCategory .left .tab_content .itm .text_box {
    background: var(--light-gray-color);
    padding: 240px 40px 56px 40px;
}

.MainCategory .left .tab_content .itm .text_box span {
    display: block;
    font-size: 20px;
    margin: 0 0 8px 0;
}

.MainCategory .left .tab_content .itm .text_box strong {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 48px 0;
}

.MainCategory .left .tab_content .itm .text_box .more_btn {
    background: var(--white-color);
    color: var(--black-color);
}

.MainCategory .left .tab_content .itm .text_box .more_btn:hover {
    background: var(--black-color);
    color: var(--white-color);
}


.MainCategory .right {
    flex: 1 1 450px;
    background: var(--primary-color);
    padding: 40px 32px;
}

.MainCategory .right .title {
    text-align: center;
    color: var(--white-color);
}

.MainCategory .right .cate_content {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.MainCategory .right .cate_content .itm {
    flex: 1 0 45%;
}

.MainCategory .right .cate_content .itm a {
    display: block;
    background: var(--white-color);
    text-align: center;
    padding: 24px 16px;
    border-radius: 10px;
}

.MainCategory .right .cate_content .itm .icon {
    display: block;
    font-size: 36px;
    margin: 0 0 16px 0;
}

.MainCategory .right .cate_content .itm strong {
    display: block;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.MainCategory .right .cate_content .itm p {
    font-size: 14px;
}



.MainBanner {
    display: flex;
}

.MainBanner>* {
    flex: 1;
}

.MainBanner .title strong {
    font-weight: 500;
}

.MainBanner .left {
    background: url(../images/main_banner01.jpg) no-repeat center top/cover;
    padding: 100px;
}

.MainBanner .left .title {
    text-align: right;
}

.MainBanner .left .inner {
    text-align: right;
}

.MainBanner .right {
    background: url(../images/main_banner02.jpg) no-repeat center top/cover;
    padding: 100px;
}

.MainBanner p {
    line-height: 20px;
    margin: 0 0 32px 0;
}

.MainBanner .more_btn {
    background: var(--white-color);
    color: var(--black-color);
}

.MainBanner .more_btn:hover {
    background: var(--black-color);
    color: var(--white-color);
}




.MainNotice {
    background: var(--background-color);
}

.MainNotice .notice_con {
    display: flex;
    gap: 30px;
}

.MainNotice .left {
    flex: 0 1 450px;
    background: var(--white-color);
    padding: 40px 32px;
}

.MainNotice .left .tab_menu {
    display: flex;
    gap: 30px;
}

.MainNotice .left .tab_menu h3 {
    color: var(--dark-gray-color);
}

.MainNotice .left .tab_menu .icon {
    display: block;
    margin: 0 0 0 auto;
}

.MainNotice .left .tab_menu h3.on {
    color: var(--black-color);
}

.MainNotice .left .tab_content>ul {
    display: none;
}

.MainNotice .left .tab_content>ul.on {
    display: block;
}

.MainNotice .left .tab_content>ul>li>a {
    display: block;
    line-height: 56px;
    border-bottom: var(--line);

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: keep-all;
}

.MainNotice .right {
    flex: 0 1 930px;
    background: var(--white-color);
    padding: 40px 32px;
}

.MainNotice .right .yutube_content {
    display: flex;
}

.MainNotice .right .yutube_content .video_box {
    flex: 0 1 500px;
    position: relative;
    padding-bottom: 33.3%;
}

.MainNotice .right .yutube_content .video_box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.MainNotice .right .yutube_content .text_box {
    flex: 0 1 400px;
    padding: 48px;
}

.MainNotice .right .yutube_content .text_box p {
    line-height: 20px;
    margin: 0 0 16px 0;
}

.MainNotice .right .yutube_content .text_box strong {
    display: block;
    font-weight: 500;
    margin: 0 0 40px 0;
}

.MainNotice .right .yutube_content .text_box .more_btn {
    background: var(--white-color);
    color: var(--black-color);
    border: 1px solid #ca2a25;
}

.MainNotice .right .yutube_content .text_box .more_btn:hover {
    background: #ca2a25;
    color: var(--white-color);
}


.MainContact .contact_con {
    display: flex;
    gap: 30px;
}

.MainContact .left {
    flex: 0 1 330px;
}

.MainContact .right {
    flex: 0 1 1050px;
}

.MainContact .left .title::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: var(--primary-color);

    margin: 0 0 16px 0;
}