:root {
    --background-color: #f9f9f9;
    --white-color: #ffffff;
    --black-color: #202123;
    --dark-gray-color: #666666;
    --light-gray-color: #f6f6f6;
    --primary-color: #2455C5;
    --secondary-color: #A4D1FF;
    --line: 1px solid rgba(0, 0, 0, 0.1);
}

/* * {
    outline: 1px solid tomato;
} */

.wrap {
    min-width: 320px;
}

#header {
    height: 100px;
}

.header_wrap {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    background: var(--white-color);
    border-bottom: var(--line);
}

#header .header_wrap .w_inner {
    display: flex;
    justify-content: space-between;
    line-height: 100px;
}

#header .header_wrap h1 a {
    display: block;
}

#header .header_wrap h1 img {
    height: 60px;
}

#header .header_wrap .gnb>ul {
    display: flex;
    gap: 40px;
}

#header .header_wrap .gnb>ul>li a {
    display: block;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
}

#header .header_wrap .util {
    display: flex;
    gap: 15px;
}

#header .header_wrap .util a {
    display: block;
    white-space: nowrap;
}

#header .header_wrap .util .icon {
    vertical-align: -6px;
}

@media (max-width:1200px) {
    #header .header_wrap h1 {
        position: relative;
        z-index: 999;
    }

    #header .header_wrap .gnb {
        position: fixed;
        top: 0;
        left: -100%;

        width: calc(100% - 120px);
        height: 100vh;

        background: var(--white-color);
        border-right: var(--line);

        padding: 140px 24px;

        transition: left 0.5s;
    }

    #header .header_wrap.on .gnb {
        left: 0;
    }

    #header .header_wrap .gnb>ul {
        flex-direction: column;
        gap: 0;
    }

    #header .header_wrap .gnb>ul>li a {
        line-height: 60px;
        border-bottom: var(--line);
    }
}







.MainVisual {
    position: relative;
}

.MainVisual .main_visual_slide .itm {
    position: relative;
    height: calc(100vh - 100px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.MainVisual .main_visual_slide .itm01 {
    background-image: url(../images/main_visual1.jpg);
}

.MainVisual .main_visual_slide .itm02 {
    background-image: url(../images/main_visual2.jpg);
}

.MainVisual .main_visual_slide .itm03 {
    background-image: url(../images/main_visual3.jpg);
}


.MainVisual .main_visual_slide .w_inner {
    position: relative;
}

.MainVisual .main_visual_slide .itm .slg {
    position: absolute;
    top: 186px;
    left: 0;
    right: 0;

    padding: 0 15px;
}

.MainVisual .main_visual_slide .itm .slg span {
    display: block;
    margin: 0 0 4px 0;

    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;

    white-space: nowrap;
}

.MainVisual .main_visual_slide .itm .slg strong {
    display: block;

    color: var(--white-color);
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
    text-indent: -3px;

    white-space: nowrap;
}

.MainVisual .main_visual_slide .itm .slg strong:nth-of-type(2) {
    margin: 0 0 20px 0;
}

.MainVisual .main_visual_slide .itm .slg p {
    line-height: 20px;
    color: var(--white-color);
    margin: 0 0 28px 0;
    word-break: keep-all;
}

.MainVisual .scroll {
    position: absolute;
    bottom: 24px;
    left: 50%;
    z-index: 998;
    transform: translate(-50%, 0);
}

.MainVisual .scroll span {
    color: var(--white-color);
}

.MainVisual .scroll span::before {
    content: "\e91d";
    font-family: 'Material Symbols Outlined';
    position: absolute;
    top: -48px;
    left: 50%;
    transform: translate(-50%, 0);

    font-size: 32px;
    color: rgba(255, 255, 255, 0.75);
    animation: flicker 1s infinite;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width:1200px) {
    .MainVisual .main_visual_slide .itm01 {
        background-image: url(../images/main_visual1.jpg);
        background-position: 20% center;
    }
}

@media (max-width:768px) {
    .MainVisual .main_visual_slide .itm {
        height: 70vh;
    }

    .MainVisual .main_visual_slide .itm02 {
        background-image: url(../images/main_visual2.jpg);
        background-position: 60% center;
    }

    .MainVisual .main_visual_slide .itm03 {
        background-image: url(../images/main_visual3.jpg);
        background-position: 60% center;
    }

    .MainVisual .main_visual_slide .itm .slg strong {
        font-size: 8vw;
        line-height: 1.2;
    }

    .MainVisual .main_visual_slide .itm .slg .more_btn {
        background: var(--white-color);
        color: var(--black-color);
    }
}

@media (max-width:500px) {
    .MainVisual .main_visual_slide .itm .slg p br {
        display: none;
    }
}











.MainCategory .category_con {
    display: flex;
    gap: 30px;
    align-items: flex-end;
}

.MainCategory .left {
    flex: 1 1 930px;
}

.MainCategory .left .title::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: var(--primary-color);

    margin: 0 0 16px 0;
}

.MainCategory .left .tab_menu {
    display: flex;
    gap: 15px;
    margin: 0 0 16px 0;

    flex-wrap: wrap;
}

.MainCategory .left .tab_menu>* {
    flex: 0 1 174px;
}

.MainCategory .left .tab_menu li a {
    display: block;
    text-align: center;
    padding: 16px 40px;
    background: var(--light-gray-color);
    white-space: nowrap;
}

.MainCategory .left .tab_menu li.on a {
    background: var(--primary-color);
    color: var(--white-color);
}

.MainCategory .left .tab_menu li a:hover {
    background: var(--primary-color);
    color: var(--white-color);
}

.MainCategory .left .tab_content {
    height: auto;
}

.MainCategory .left .tab_content .itm {
    position: relative;
    display: none;
}

.MainCategory .left .tab_content .itm.on {
    display: flex;
}

.MainCategory .left .tab_content .itm::before {
    content: attr(data-num);
    position: absolute;
    top: 16px;
    right: 40px;

    font-size: 160px;
    font-weight: 900;
    color: rgba(32, 33, 35, 0.10);
}

.MainCategory .left .tab_content .itm>* {
    flex: 1;
}

.MainCategory .left .tab_content .itm figure img {
    height: 100%;
    object-fit: cover;
}

.MainCategory .left .tab_content .itm .text_box {
    background: var(--light-gray-color);
    padding: 240px 40px 56px 40px;
}

.MainCategory .left .tab_content .itm .text_box span {
    display: block;
    font-size: 20px;
    margin: 0 0 8px 0;
    word-break: keep-all;
}

.MainCategory .left .tab_content .itm .text_box strong {
    display: block;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 48px 0;
    word-break: keep-all;
}

.MainCategory .left .tab_content .itm .text_box .more_btn {
    background: var(--white-color);
    color: var(--black-color);
}

.MainCategory .left .tab_content .itm .text_box .more_btn:hover {
    background: var(--black-color);
    color: var(--white-color);
}


.MainCategory .right {
    flex: 1 1 450px;
    background: var(--primary-color);
    padding: 40px 32px;
}

.MainCategory .right .title {
    text-align: center;
    color: var(--white-color);
}

.MainCategory .right .cate_content {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.MainCategory .right .cate_content .itm {
    flex: 1 0 45%;
}

.MainCategory .right .cate_content .itm a {
    display: block;
    background: var(--white-color);
    text-align: center;
    padding: 24px 16px;
    border-radius: 10px;
}

.MainCategory .right .cate_content .itm .icon {
    display: block;
    font-size: 36px;
    margin: 0 0 16px 0;
}

.MainCategory .right .cate_content .itm strong {
    display: block;
    font-weight: 700;
    margin: 0 0 8px 0;

    white-space: nowrap;
}

.MainCategory .right .cate_content .itm p {
    font-size: 14px;
    word-break: keep-all;

    line-height: 18px;
}

@media (max-width:1300px) {
    .MainCategory .category_con {
        display: flex;
        gap: 30px;

        flex-direction: column;
        align-items: stretch;
    }

    .MainCategory .left {
        flex: 1 1 auto;
    }

    .MainCategory .left .tab_menu {
        display: flex;
        gap: 15px;
        margin: 0 0 16px 0;
    }

    .MainCategory .left .tab_menu>* {
        flex: 1;
    }

    .MainCategory .right {
        flex: 1 1 auto;
    }

    .MainCategory .right .cate_content .itm {
        flex: 1;
    }

    .MainCategory .right .cate_content .itm strong {
        display: block;
        font-weight: 700;
        margin: 0 0 8px 0;

        white-space: nowrap;
    }

    .MainCategory .right .cate_content .itm p {
        font-size: 14px;
        word-break: keep-all;

        line-height: 18px;
    }
}

@media (max-width:768px) {
    .MainCategory .left .tab_content .itm figure {
        display: none;
    }

    .MainCategory .left .tab_content .itm .text_box span {
        line-height: 24px;
    }

    .MainCategory .left .tab_content .itm .text_box strong {
        line-height: 28px;
    }
}









.MainBanner {
    display: flex;
}

.MainBanner>* {
    flex: 1;
}

.MainBanner .title strong {
    font-weight: 500;
}

.MainBanner .left {
    background: url(../images/main_banner01.jpg) no-repeat left top/cover;
    padding: 100px;
}

.MainBanner .left .title {
    text-align: right;
}

.MainBanner .left .inner {
    text-align: right;
}

.MainBanner .right {
    background: url(../images/main_banner02.jpg) no-repeat center top/cover;
    padding: 100px;
}

.MainBanner p {
    line-height: 20px;
    margin: 0 0 32px 0;
    word-break: keep-all;
}

.MainBanner .more_btn {
    background: var(--white-color);
    color: var(--black-color);
}

.MainBanner .more_btn:hover {
    background: var(--black-color);
    color: var(--white-color);
}

@media (max-width:1200px) {
    .MainBanner {
        flex-direction: column;
    }
}

@media (max-width:768px) {
    .MainBanner {
        flex-direction: row;
    }

    .MainBanner .left {
        background: var(--white-color);
        padding: 64px 24px;
    }

    .MainBanner .left .title {
        text-align: center;
    }

    .MainBanner .left .inner {
        text-align: center;
    }

    .MainBanner .left .more_btn {
        border: 1px solid rgba(0, 0, 0, 0.3);
    }

    .MainBanner .right {
        background: var(--secondary-color);
        padding: 64px 24px;
    }

    .MainBanner .right .title {
        text-align: center;
    }

    .MainBanner .right .inner {
        text-align: center;
    }
}

@media (max-width:500px) {
    .MainBanner {
        flex-direction: column-reverse;
    }
}









.MainNotice {
    background: var(--background-color);
}

.MainNotice .notice_con {
    display: flex;
    gap: 30px;
}

.MainNotice .left {
    position: relative;
    flex: 0 1 450px;
    background: var(--white-color);
    padding: 40px 32px;
}

.MainNotice .left .tab_menu {
    display: flex;
    gap: 30px;
}

.MainNotice .left .tab_menu h3 {
    position: relative;
    color: var(--dark-gray-color);
}

.MainNotice .left .tab_menu h3.on {
    color: var(--black-color);
}

.MainNotice .left .tab_menu h3~h3::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -16px;

    width: 1px;
    height: 18px;

    background: rgba(0, 0, 0, 0.25);
}

.MainNotice .left .tab_menu>a {
    position: absolute;
    top: 0;
    right: 0;

    padding: 12px;

    background: var(--primary-color);
    color: var(--white-color);
}

.MainNotice .left .tab_menu>a .icon {
    font-size: 28px;
    font-weight: 300;
}

.MainNotice .left .tab_content>ul {
    display: none;
}

.MainNotice .left .tab_content>ul.on {
    display: block;
}

.MainNotice .left .tab_content>ul>li>a {
    display: block;
    line-height: 56px;
    border-bottom: var(--line);

    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    word-break: keep-all;
}

.MainNotice .right {
    flex: 0 1 930px;
    background: var(--white-color);
    padding: 40px 32px;
}

.MainNotice .right .yutube_content {
    display: flex;
}

.MainNotice .right .yutube_content .video_box {
    flex: 0 1 500px;
    position: relative;
    padding-bottom: 33.3%;
}

.MainNotice .right .yutube_content .video_box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.MainNotice .right .yutube_content .text_box {
    flex: 0 1 400px;
    padding: 48px;
}

.MainNotice .right .yutube_content .text_box p {
    line-height: 20px;
    margin: 0 0 16px 0;
    word-break: keep-all;
}

.MainNotice .right .yutube_content .text_box strong {
    display: block;
    font-weight: 600;
    margin: 0 0 40px 0;
    word-break: keep-all;
}

.MainNotice .right .yutube_content .text_box .more_btn {
    background: var(--white-color);
    color: var(--black-color);
    border: 1px solid #ca2a25;
}

.MainNotice .right .yutube_content .text_box .more_btn:hover {
    background: #ca2a25;
    color: var(--white-color);
}

@media (max-width:1200px) {
    .MainNotice .notice_con {
        display: flex;
        gap: 30px;

        flex-direction: column;
    }

    .MainNotice .left {
        position: relative;
        flex: 1 1 auto;
    }

    .MainNotice .right {
        flex: 1 1 auto;
    }

    .MainNotice .right .yutube_content .video_box {
        flex: 2;
    }

    .MainNotice .right .yutube_content .text_box {
        flex: 1;
    }

    .MainNotice .right .yutube_content .text_box strong {
        line-height: 20px;
    }
}

@media (max-width:768px) {
    .MainNotice .right .yutube_content {
        flex-direction: column;
    }

    .MainNotice .right .yutube_content .video_box {
        padding-bottom: 56.25%;
    }

    .MainNotice .right .yutube_content .text_box {
        text-align: center;
        padding: 40px 16px;
    }

    .MainNotice .right .yutube_content .text_box p br {
        display: none;
    }
}












.MainContact .contact_con {
    display: flex;
    gap: 30px;
}

.MainContact .left {
    flex: 0 1 330px;
}

.MainContact .right {
    flex: 0 1 1050px;
}

.MainContact .left .title::before {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    background: var(--primary-color);

    margin: 0 0 16px 0;
}

.MainContact .left>ul {
    display: flex;
    flex-direction: column;
    gap: 8px;

    flex-wrap: wrap;
}

.MainContact .left>ul>li>a {
    display: block;
    height: 100%;
}

.MainContact .left>ul>li:not(:last-of-type) a {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;

    padding: 16px 16px 16px 24px;
    border: var(--line);

    white-space: nowrap;
}

.MainContact .left>ul>li a .icon {
    color: var(--dark-gray-color);
    font-size: 30px;
    font-weight: 200;
}

.MainContact .left .text_box span {
    display: block;
    color: var(--dark-gray-color);
}

.MainContact .left .text_box strong {
    display: block;
    font-weight: 600;
    margin-top: 8px;
}

.MainContact .left>ul>li>a .market_img {
    width: 100%;
    height: 100%;
}

.MainContact .left>ul>li .market {
    display: none;
}

.MainContact .right .map_box {
    width: 100%;
    height: 100%;

    border: var(--line);
}


.MainContact .right .map_box .marker_wrap {
    position: absolute;
    bottom: 30px;
    left: 30px;
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
}

.MainContact .right .map_box .marker_wrap .marker_info {
    width: 340px;
    border-radius: 8px;
    border: var(--line);

    overflow: hidden;
    background: #fff;
}

.MainContact .right .map_box .marker_wrap .marker_info:nth-child(1) {
    border: 0;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
}

.marker_info .marker_title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4px 16px;
    background: var(--light-gray-color);
    border-bottom: var(--line);
    font-size: 16px;
    font-weight: 700;
}

.marker_info .marker_close {
    width: 14px;
    height: 14px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png') no-repeat center center/cover;
}

.MainContact .right .map_box .marker_.info .marker_close:hover {
    cursor: pointer;
}

.MainContact .right .map_box .marker_info .marker_body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;

    padding: 16px;
}

.MainContact .right .map_box .marker_info .marker_img {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    border: var(--line);
    width: 100%;
    height: 70px;
    padding: 4px 0 4px 8px;
}

.MainContact .right .map_box .marker_desc .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    font-size: 14px;
}

.MainContact .right .map_box .marker_desc .marker_jibun {
    font-size: 12px;
    color: #888;
    margin-top: -2px;
}

.MainContact .right .map_box .marker_info .marker_link {
    color: #5085BB;
}

@media (max-width:1300px) {
    .MainContact .right .map_box .marker_wrap {
        position: absolute;
        bottom: 30px;
        left: auto;
        right: 30px;
        text-align: left;
        font-size: 12px;
        line-height: 1.5;
    }
}

@media (max-width:1200px) {
    .MainContact .contact_con {
        flex-direction: column;
    }

    .MainContact .left {
        flex: 0 1 auto;
    }

    .MainContact .left>ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 8px;
    }

    .MainContact .left>ul>li {
        flex: 1;
    }

    .MainContact .left .text_box strong {
        display: none;
    }

    .MainContact .right {
        max-height: 400px;
    }

    .MainContact .left>ul>li .market {
        display: flex;
        gap: 30px;
        align-items: center;
        justify-content: space-between;

        padding: 16px 16px 16px 24px;
        border: var(--line);

        white-space: nowrap;
    }

    .MainContact .left>ul>li .market_img {
        display: none;
    }
}

@media (max-width:768px) {
    .MainContact .left>ul>li {
        flex: 1 0 45%;
    }

    .MainContact .right .map_box .marker_wrap {
        position: absolute;
        top: 30px;
        bottom: auto;
        left: 50%;
        right: auto;
        transform: translate(-50%, 0);

        text-align: left;
        font-size: 12px;
        line-height: 1.5;
    }
}

@media (max-width:500px) {
    .MainContact .right .map_box .marker_wrap {
        display: none;
    }
}












#footer .footer_wrap {
    background: var(--black-color);
    padding: 60px 0;
}

#footer .footer_wrap .footer_con {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
}

#footer .footer_wrap .footer_con>a {
    display: block;
}

#footer .footer_wrap .footer_con .copyright {
    display: flex;
    flex-direction: column;

    font-weight: 200;
    color: var(--white-color);
}

#footer .footer_wrap .footer_con .copyright span {
    display: block;
    margin: 0 0 8px 0;
}

#footer .footer_wrap .footer_con .copyright .info {
    display: flex;
    gap: 30px;
    margin: 0 0 16px 0;

    font-size: 14px;
}

#footer .footer_wrap .footer_con .copyright .info>li {
    position: relative;
    white-space: nowrap;
}

#footer .footer_wrap .footer_con .copyright .info>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translate(0, -50%);

    width: 1px;
    height: 10px;

    background: rgba(255, 255, 255, 0.1);
}

#footer .footer_wrap .footer_con .copyright .rule {
    display: flex;
    gap: 30px;
    margin: 0 0 auto 0;

    font-size: 14px;
}

#footer .footer_wrap .footer_con .copyright .rule>li {
    position: relative;
}

#footer .footer_wrap .footer_con .copyright .rule a {
    display: block;
    white-space: nowrap;
}

#footer .footer_wrap .footer_con .copyright .rule>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translate(0, -50%);

    width: 1px;
    height: 10px;

    background: rgba(255, 255, 255, 0.1);
}

#footer .footer_wrap .footer_con .copyright .copy {
    font-size: 14px;
    line-height: 18px;
    word-break: keep-all;
}


#footer .footer_wrap .footer_con .sns_wrap {
    margin: 0 0 0 auto;
    color: var(--white-color);
    text-align: right;
}

#footer .footer_wrap .footer_con .sns_wrap>a {
    display: block;
    font-size: 28px;
    font-weight: 700;
    color: var(--primary-color);

    margin: 0 0 16px 0;
}

#footer .footer_wrap .footer_con .sns i {
    font-size: 20px;
    margin-left: 4px;
}

@media (max-width:1200px) {
    #footer .footer_wrap .footer_con>* {
        flex: 1 0 45%;
    }

    #footer .footer_wrap .footer_con .copyright {
        order: 3;
    }

    #footer .footer_wrap .footer_con .copyright .rule {
        margin: 0 0 24px 0;
    }
}

@media (max-width:768px) {
    #footer .footer_wrap .footer_con .copyright .info {
        flex-direction: column;
        gap: 8px;
    }

    #footer .footer_wrap .footer_con .copyright .info>li~li::before {
        display: none;
    }

    #footer .footer_wrap .footer_con>* {
        flex: 1 0 30%;
    }
}

@media (max-width:380px) {
    #footer .footer_wrap .footer_con {
        flex-direction: column;
        gap: 30px;
    }

    #footer .footer_wrap .footer_con .sns_wrap {
        text-align: left;
        margin: 0 0 0 0;
    }

    #footer .footer_wrap .footer_con .copyright .rule {
        flex-direction: column;
        gap: 8px;
    }

    #footer .footer_wrap .footer_con .copyright .rule>li~li::before {
        display: none;
    }

}